streamlit==1.27.0
pandas==2.3.0
plotly==5.3.1
requests==2.32.3
ta==0.7.0
yfinance==0.2.62
numpy==1.26.4
python-dotenv
beautifulsoup4
empyrical==0.5.5
scikit-learn
pytrends
streamlit-autorefresh
textblob
newspaper3k
lxml
snscrape
tensorflow
matplotlib
pyparsing>=2.3.1
xgboost
